name: Release

on:
  push:
    branches:
      - master
permissions: write-all

jobs:
  build_shit:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - run: pip install pyinstaller
      - run: pyinstaller -F cocoideV1.91.pyw
      - name: Upload artifacts 
        uses: actions/upload-artifact@v3
        with:
          name: cocoide-${{ matrix.os }}
          path: dist/
          retention-days: 1
  upload_shit:
    runs-on: ubuntu-latest
    needs: build_shit
    steps:
      - uses: actions/download-artifact@v3
        with:
          path: bins
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Build"
          files: bins/*